@model PostEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Post</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Post.Id" />
            <input type="hidden" asp-for="Post.Created" />
            <input type="hidden" asp-for="Post.MainPostImagePath" />
            <input type="hidden" asp-for="Post.UserId" />


            <div class="mb-3">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Post.Description" class="control-label"></label>
                <input asp-for="Post.Description" class="form-control" />
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Post.Body" class="control-label"></label>
                <textarea asp-for="Post.Body" class="form-control"></textarea>
                <span asp-validation-for="Post.Body" class="text-danger"></span>
            </div>

            <div class="mb-3">

                <div class="form-text fs-4">
                    Current Image
                </div>
                <img src="@Url.Content(Model.Post.MainPostImagePath)"
                     class="w-25 mb-3"
                     alt="@Model.Post.Title">

                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="mb-5">
                <label asp-for="Post.CategoryId" class="control-label"></label>
                <select asp-for="Post.CategoryId" 
                        asp-items="@Model.CategoriesSL" 
                        class="form-select">
                    <option value="">No category</option>
                </select>
                <span asp-validation-for="Post.CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-5">
                <input type="submit" 
                       value="Edit" 
                       class="btn btn-outline-warning fs-3 fw-bold w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" 
       class="btn btn-outline-secondary fs-4 fw-bold">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
